<div id="create_client" class="modal container hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Создание:</h3>
  </div>
  <%= render "form" %>
</div>

<%= render "search_form" %>

<div class="pagination">
  <%= will_paginate @clients %>
</div>

<table class="table table-striped table-condensed table-bordered">
  <thead class="text-info">
    <th><strong>Название</strong></th>
    <th><strong>Контакты</strong></th>
    <th><strong>Область</strong></th>
    <th><strong>Адрес</strong></th>
    <th><strong>Вид деятельности</strong></th>
    <th><strong>Дата создания &dArr;</strong></th>
  </thead>
  <%= render @clients %>
</table>
<iframe id="history-frame"></iframe>
