.form-horizontal .control-label {
  width: 90px;
}

.form-horizontal .controls {
  margin-left: 100px;
}

.control-group.unfloated {
  clear: both;
}

.error {
  color: #B94A48;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

.name-group {
  position: relative;
}
