body {
  background: #E4E6E5;
}

.form-horizontal .control-label {
  width: 90px;
}

.form-horizontal .controls {
  margin-left: 100px;
}

.control-group.unfloated {
  clear: both;
}

.error {
  color: red;
  width: 1px;
  position: absolute;
  white-space: nowrap;
}

.name-group {
  position: relative;
}

.brand {
  text-align: right;
  width: 110px;
}
