/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; }
.ui-timepicker-rtl dl dd { margin: 0 65px 10px 10px; }

body {
  background: #E4E6E5;
  background: #E8EDF5;
  padding: 20px 0 0;
}

.brand{
  position: relative;
  left: 15px;
  width: 110px;
}


.client-info {
  width: 600px
}

.margined {
  position: relative;
  left: 20px;
}

.btn-group.margined {
  margin-bottom: 20px;
}

.btn.btn-primary.btn-large.margined {
  margin-bottom: 20px;
}

.table-block{
  background: #FFFBED;
}

.form-horizontal .control-label {
  width: 90px;
}

.form-horizontal .controls {
  margin-left: 100px;
}

.control-group.unfloated {
  clear: both;
}

.error {
  color: red;
  width: 1px;
  white-space: nowrap;
}

.name-group {
  position: relative;
}

.brand {
  text-align: right;
  width: 160px;
}

.search-form {
 width: 950px;
}

.btn-group.margined.clients-group {
  position: relative;
  top: 15px;
}

.pagination {
  position: relative;
  top: 3px;
  left: 16px;
}

.alert.alert-warning.warning-flash {
  position: relative;
  top: 50px;
  margin-bottom: 5px;
}

.navbar .nav > li > a {
  font-size: 17px;
}

.navbar .brand {
  font-size: 22px;
}

.table-condensed td {
  padding: 1px 5px;
}

.new-client {
  width: 1200px;
  padding: 20px 0 0 50px;
}

.frame-client {
  width: 100%;
  white-space: nowrap;
  text-align: left;
  font-weight: bold;
  font-style: italic;
}

.frame-client .frame-client-description {
  font-weight: normal;
  font-size: 14px;
}

.toggle {
  width: 100%;
  height: 10px;
  position: relative;
  z-index: 100;
}

.edit-client {
  width: 18px;
}

#new_story textarea {
  width: 500px;
}

form {
  margin: 10px 0 0;
}

.history-block .divider-vertical {
  border-right: 1px solid #E8E8E8;
  border-left: 1px solid #E8E8E8;
  margin: 0px;
}

td.clickable-cell:hover {
  cursor: pointer;
}

ul.nav {
  white-space: nowrap;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  padding: 0px;
}

.main-menu-item {
  font-weight: bold;
}

.global-search {
   margin: 0;
}

.global-search #name {
    margin: 5px 0 0 0;
}

.hidden-form {
    display: none;
    border: 1px solid #005580;
    padding: 10px 10px 4px 10px;
    margin: 10px;
    border-radius: 8px;
}

#search_form .form-horizontal .control-group {
    margin-bottom: 5px;
}

#search_form input[type="text"],
#search_form select,
#search_form textarea {
    padding: 0;
    width: 209px;
}

#search_form select,
#search_form input[type="file"] {
    height: 23px;
    line-height: 18px;
}

#search_form .form-horizontal .control-label {
    padding-top: 0;
}

#search_form label {
    color: #005580;
}
