<h4 class="margined">Редактировать:</h4>
<%= render "form" %>
<%= link_to "Назад", all_reminders_path, :class => "margined btn"%>
<br />
<br />
<%= link_to "Удалить", all_reminder_path(@reminder), :method => :delete , :confirm => "Вы уверены?", :class => "margined" %>
