<%= link_to 'Назад', activities_path, :class => "btn margined" %>
<h3 class="margined">Редактирование</h3>
<%= render 'form' %>
<%= link_to 'Удалить', @activity, method: :delete, data: { confirm: 'Are you sure?' }, :class => "margined" %>
