<h3 class="margined">Виды деятельности:</h3>
<%= link_to 'Создать', new_activity_path, :class => "btn btn-primary btn-large margined" %>
<br />

<table class="table table-striped table-condensed table-bordered">
  <thead class="text-info">
    <th><strong>Имя</strong></th>
    <th></th>
  </thead>
  <% @activities.each do |activity| %>
  <tr class="table-block">
    <td><%= activity.name %></td>
    <td><%= link_to 'Редактировать', edit_activity_path(activity) %></td>
  </tr>
<% end %>
</table>
